* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

/* navbar style */
.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 0%);
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    /* position: fixed; */
    top: 0;
    /* z-index: 999; */
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}

.navbar-logo {
    color: white;
    justify-content: start;
    margin-left: 20px;
    text-decoration: none;
    font-size: 32px;
    /* align-items: center; */
    display: flex;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    width: 60vw;
    text-align: center;
    justify-content: end;
    margin-right: 32px;
}

.nav-item {
    height: 80px;
}

.nav-links {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.nav-links:hover {
    border-bottom: 4px solid #f2a93b;
}

/* hero section */
.hero-container {
    background: url(images/8.jpg);
    height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

h1.home__text {
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffff;
}

h2.home__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 800;
    color: #ffff;
}

.home__meta {
    padding: 25px 400px;
}

.button {
    text-decoration: none;
    text-align: center;
    background: #f2a93b;
    color: #fff;
    padding: 12px 53px;
    border-radius: 50px;
    border: none;
    font: 20px Arial, Helevetica, Sans-serif;
    font-weight: bold;
}

.button:hover {
    color: black;
}

.about {
    background: #232323;
}

.container {
    width: 82%;
    margin: 0px auto;
    padding: 70px;
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: left;
    overflow: hidden;
}

.col__2 {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

img.about__img {
    border-radius: 10px;
    width: 100%;
}

h1.about__heading {
    margin-top: 30px;
    font-weight: 800;
    text-align: start;
    font-size: 40px;
    color: #f2a93b;
}

.p__color {
    color: rgba(198, 201, 216, 0.75);
    font-size: 16px;
    margin-bottom: 15px;
}

.product {
    /* padding-bottom: 100px; */
    background-color: #232323;
   
}
.product p {
    text-align: center;
    font: 55px Arial, Helevetica, Sans-serif;
    font-weight: -100;
   /* padding: 50px; */
   /* margin-bottom: 105px; */
   color: #f2a93b;
}

.product .heading {
    color: rgba(198, 201, 216, 0.75);
    font-size: 16px;
    /* margin-bottom: 15px; */
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    padding-bottom: 250px;
}

.cardBox {
    width: 350px;
    height: 500px;
    background-color: #393939;
    margin: 10px;
    border-radius: 10px;
}

.cardBox .cardImage {
    width: 100%;
    height: 270px;
    margin-bottom: 25px;

}

.cardImage:hover img {
    transform: translateY(100%);
}

.cardBox .cardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 10s ease;
}

.cardBox .cardContent h4 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    height: 100%;
    padding: 5px;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    /* margin-top: 25px; */

}

.cardBox .cardContent button {
    background-color: #f2a93b;
    color: #fff;
    font: 25px Arial, Helevetica, Sans-serif;
    font-weight: 600;
    padding: 5px;
    border-radius: 150px;
    width: 150px;
    margin-top: 25px;
    border: #f2a93b;
    
}

.contact {
    background-color: #232323;
}

.contact .row .c {
   margin: 0 50px;
    display: flex;
    flex-direction: row;
    /* padding: 10px; */
    justify-content:center ;
}



.contact__meta form h1 {
color: #f2a93b;
font:  45px Arial, Helevetica, Sans-serif;
}

input {
    width: 25vw;
    height: 3em;
    color: #fff;
    padding: auto;
    margin: 5px 0;
}

textarea{
    width: 25vw;
    height: 10em;
    margin: 5px 0;

}

.c .contact__box .contact__meta p {
    color: #fff;
    font:  20px Arial, Helevetica, Sans-serif;
    font-weight: 300;

}